[trani]{ /*base*/
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
	animation-timing-function: linear;
	animation-fill-mode: both;
}

[trani~="f-ease"]{ /*timing function*/
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

[trani~="f-ease-out"]{ /*timing function*/
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

[trani~="f-ease-in"]{ /*timing function*/
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

[trani~="f-ease-out-in"]{ /*timing function*/
	-webkit-animation-timing-function: ease-out-in;
	animation-timing-function: ease-out-in;
}

[trani~="3d"]{ /*style*/
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

[trani~="c-unlimited"]{ /*count*/
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

[trani~="d-alternate"]{ /*direction*/
	-webkit-animation-direction: initial;
	animation-direction: initial;
}

[trani~="d-reverse"]{ /*direction*/
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

[trani~="s-running"]{ /*playState*/
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

[trani~="s-paused"]{ /*playState*/
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

[trani~="o-top"]{ /*origin*/
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

[trani~="o-bottom"]{ /*origin*/
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

[trani~="k-drop"]{ /*keyframes, can menu*/
	-webkit-animation-name: trani-drop;
	animation-name: trani-drop;
}

@-webkit-keyframes trani-drop {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
	60% {
		-webkit-transform: scale(1.1, 1.1);
	}
}

@keyframes trani-drop {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
	60% {
		transform: scale(1.1, 1.1);
	}
}

[trani~="k-drop-half"]{ /*keyframes, can window*/
	-webkit-animation-name: trani-drop-half;
	animation-name: trani-drop-half;
}

@-webkit-keyframes trani-drop-half {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5, 0.5);
	}
	60% {
		-webkit-transform: scale(1.1, 1.1);
	}
}

@keyframes trani-drop-half {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	60% {
		transform: scale(1.1, 1.1);
	}
}

[trani~="k-scale"]{ /*keyframes, can tip*/
	-webkit-animation-name: trani-scale;
	animation-name: trani-scale;
}

@-webkit-keyframes trani-scale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
}

@keyframes trani-scale {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
}

[trani~="k-scale-half"]{ /*keyframes, can window*/
	-webkit-animation-name: trani-scale-half;
	animation-name: trani-scale-half;
}

@-webkit-keyframes trani-scale-half {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5, 0.5);
	}
}

@keyframes trani-scale-half {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
}

[trani~="k-flip-y"]{ /*keyframes, can selection*/
	-webkit-animation-name: trani-flip-y;
	animation-name: trani-flip-y;
}

@-webkit-keyframes trani-flip-y {
	0% {
		opacity: 0;
		-webkit-transform: scale(1, 0);
	}
}

@keyframes trani-flip-y {
	0% {
		opacity: 0;
		transform: scale(1, 0);
	}
}

[trani~="k-flip-x"]{ /*keyframes, can selection*/
	-webkit-animation-name: trani-flip-x;
	animation-name: trani-flip-x;
}

@-webkit-keyframes trani-flip-x {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 1);
	}
}

@keyframes trani-flip-x {
	0% {
		opacity: 0;
		transform: scale(0, 1);
	}
}

[trani~="k-right"]{ /*keyframes, can element*/
	-webkit-animation-name: trani-right;
	animation-name: trani-right;
}

@-webkit-keyframes trani-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
	}
}

@keyframes trani-right {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
}

[trani~="k-left"]{ /*keyframes, can element*/
	-webkit-animation-name: trani-left;
	animation-name: trani-left;
}

@-webkit-keyframes trani-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
	}
}

@keyframes trani-left {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
}

[trani~="k-down"]{ /*keyframes, can header & menu*/
	-webkit-animation-name: trani-down;
	animation-name: trani-down;
}

@-webkit-keyframes trani-down {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50%);
	}
}

@keyframes trani-down {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}
}

[trani~="k-up"]{ /*keyframes, can header & menu*/
	-webkit-animation-name: trani-up;
	animation-name: trani-up;
}

@-webkit-keyframes trani-up {
	0% {
		opacity: 0;
		-webkit-transform: translateY(50%);
	}
}

@keyframes trani-up {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
}

[trani~="k-redshift"]{ /*keyframes, can background-image*/
	-webkit-animation-name: trani-redshift;
	animation-name: trani-redshift;
}

@-webkit-keyframes trani-redshift {
	0% {
		-webkit-transform: scale(1.2, 1.2);
	}
}

@keyframes trani-redshift {
	0% {
		-webkit-transform: scale(1.2, 1.2);
	}
}
