[trani]{ /*base*/
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

[trani~="3d"]{ /*style*/
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

[trani~="1ds"]{ /*duration*/
	-webkit-animation-duration: 100ms;
	animation-duration: 100ms;
}

[trani~="2ds"]{ /*duration*/
	-webkit-animation-duration: 200ms;
	animation-duration: 200ms;
}

[trani~="3ds"]{ /*duration*/
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
}

[trani~="4ds"]{ /*duration*/
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
}

[trani~="5ds"]{ /*duration*/
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

[trani~="unlimited"]{ /*count*/
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

[trani~="alternate"]{ /*direction*/
	-webkit-animation-direction: initial;
	animation-direction: initial;
}

[trani~="reverse"]{ /*direction*/
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

[trani~="running"]{ /*playState*/
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

[trani~="paused"]{ /*playState*/
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

[trani~="up2down"]{ /*position*/
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

[trani~="down2up"]{ /*position*/
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

[trani~="pluse"]{ /*function, can menu*/
	-webkit-animation-name: trani-pluse;
	animation-name: trani-pluse;
}

@-webkit-keyframes trani-pluse {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
	60% {
		-webkit-transform: scale(1.1, 1.1);
	}
}

@keyframes trani-pluse {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
	60% {
		transform: scale(1.1, 1.1);
	}
}

[trani~="pluse-half"]{ /*function, can window*/
	-webkit-animation-name: trani-pluse-half;
	animation-name: trani-pluse-half;
}

@-webkit-keyframes trani-pluse-half {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5, 0.5);
	}
	60% {
		-webkit-transform: scale(1.1, 1.1);
	}
}

@keyframes trani-pluse-half {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	60% {
		transform: scale(1.1, 1.1);
	}
}

[trani~="scale"]{ /*function, can tip*/
	-webkit-animation-name: trani-scale;
	animation-name: trani-scale;
}

@-webkit-keyframes trani-scale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
}

@keyframes trani-scale {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
}

[trani~="scale-half"]{ /*function, can window*/
	-webkit-animation-name: trani-scale-half;
	animation-name: trani-scale-half;
}

@-webkit-keyframes trani-scale-half {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5, 0.5);
	}
}

@keyframes trani-scale-half {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
}

[trani~="spring-y"]{ /*function, can selection*/
	-webkit-animation-name: trani-spring-y;
	animation-name: trani-spring-y;
}

@-webkit-keyframes trani-spring-y {
	0% {
		opacity: 0;
		-webkit-transform: scale(1, 0);
	}
}

@keyframes trani-spring-y {
	0% {
		opacity: 0;
		transform: scale(1, 0);
	}
}

[trani~="spring-x"]{ /*function, can selection*/
	-webkit-animation-name: trani-spring-x;
	animation-name: trani-spring-x;
}

@-webkit-keyframes trani-spring-x {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 1);
	}
}

@keyframes trani-spring-x {
	0% {
		opacity: 0;
		transform: scale(0, 1);
	}
}

[trani~="mov-left"]{ /*function, can element*/
	-webkit-animation-name: trani-mov-left;
	animation-name: trani-mov-left;
}

@-webkit-keyframes trani-mov-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
	}
}

@keyframes trani-mov-left {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
}

[trani~="mov-right"]{ /*function, can element*/
	-webkit-animation-name: trani-mov-right;
	animation-name: trani-mov-right;
}

@-webkit-keyframes trani-mov-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
	}
}

@keyframes trani-mov-right {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
}

[trani~="mov-down"]{ /*function, can header & menu*/
	-webkit-animation-name: trani-mov-down;
	animation-name: trani-mov-down;
}

@-webkit-keyframes trani-mov-down {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50%);
	}
}

@keyframes trani-mov-down {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}
}